* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar .btn-link{
  color:inherit;
  text-decoration:none;
}
.navbar .btn-link:focus{
  box-shadow:none;
}

.navbar-custom{
  background:#dfe9e4;
}

.mega-menu{
  width:min(1100px, 90vw);
  max-width:1100px;
}
.dropdown-menu-center{
  left:50%;
  transform:translateX(-50%);
}
.navbar .dropdown.position-static{
  position:static;
}
.navbar .dropdown.position-static .dropdown-menu{
  top:100%;
}
.mega-menu--five .row > [class^="col-"]{
  flex:0 0 20%;
  max-width:20%;
}
@media (min-width:992px){
  .dropdown:hover>.dropdown-menu{
    display:block;
  }
}
@media (max-width:991.98px){
  .navbar .dropdown.position-static .dropdown-menu{
    position:static;
    transform:none;
    left:auto;
    width:100%;
    max-width:none;
  }
  .mega-menu--five .row > [class^="col-"]{
    flex:0 0 100%;
    max-width:100%;
  }
}
