* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar .btn-link {
  color: inherit;
  text-decoration: none;
}
.navbar .btn-link:focus {
  box-shadow: none;
}

.navbar-custom {
  background: #dfe9e4;
}

.mega-menu {
  width: min(1100px, 90vw);
  max-width: 1100px;
}
.dropdown-menu-center {
  left: 50%;
  transform: translateX(-50%);
}
.navbar .dropdown.position-static {
  position: static;
}
.navbar .dropdown.position-static .dropdown-menu {
  top: 100%;
}
.mega-menu--five .row > [class^="col-"] {
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .navbar .dropdown.position-static .dropdown-menu {
    position: static;
    transform: none;
    left: auto;
    width: 100%;
    max-width: none;
  }
  .mega-menu--five .row > [class^="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.iconBox {
  width: 60px;
  height: 60px;
  background: #e6f4ea;
  color: #16a34a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.categoryCard {
  transition: 0.3s;
}

.categoryCard:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.about-section {
  background: linear-gradient(135deg, #0d9f6e, #059669);
  position: relative;
  overflow: hidden;
}

.main-img {
  width: 85%;
  position: relative;
  z-index: 2;
}

.small-img {
  width: 45%;
  position: absolute;
  bottom: -30px;
  right: 40px;
  z-index: 3;
}

.yellow-box {
  width: 120px;
  height: 120px;
  background: #ffb800;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 1;
}

.icon-circle {
  width: 45px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 6px;
  background: #ffb800;
  border-radius: 10px;
}


.course-card{
  position:relative;
  border-radius:20px;
  overflow:hidden;
  background:#fff;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
  transition:0.3s;
}

.course-card:hover{
  transform:translateY(-6px);
  box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

/* front view */
.card-front{
  display:block;
}

/* hover view hidden */
.card-hover{
  display:none;
}

/* on hover replace */
.course-card:hover .card-front{
  display:none;
}

.course-card:hover .card-hover{
  display:block;
}

.course-card{
  border-radius:20px;
  overflow:hidden;
  background:#fff;
  position:relative;
  transition:0.3s;
}

.card-front{ display:block; }
.card-hover{ display:none; }

.course-card:hover .card-front{ display:none; }
.course-card:hover .card-hover{ display:block; }